<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="vlc" />
	<package id="steam" />
	<package id="vscode" />
	<package id="filezilla" />
	<package id="discord.install" />
	<package id="googlechrome" />
	<package id="cura-new" />
	<package id="git" />
	<package id="chocolatey-windowsupdate.extension" />
	<package id="obs-studio" />
	<package id="python" />
	<package id="winrar" />
	<package id="putty" />
	<package id="rpi-imager" />
	<package id="nvm" />
	<package id="plexamp" />
</packages>