<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="vlc" />
	<package id="steam" />
	<package id="vscode" />
	<package id="filezilla" />
	<package id="discord" />
	<package id="googlechrome" />
	<package id="cura-new" />
	<package id="git" />
	<package id="obs-studio" />
	<package id="python" />
</packages>